@import "tailwindcss";

body {
  background-color: #0f0f0f;
  background-image: radial-gradient(rgba(255, 255, 255, 0.11) 2%, transparent 5%);
  background-size: 5px 5px;
  font-family: Geist;
  color: rgb(155, 154, 154);
}